.cartel{
    color: black;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.elegir{
    color: #f252a7;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 10px;

}
.precioTotal{
    color: black;
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    text-align: center;
}
.pedido{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 39px;
    padding: 4px;
    border: none ;
    margin: 40px;
}


