.palabra{
    font-family: 'Rock Salt', cursive;
    padding: 10px;
    margin: 10px;
}
.tituloDetail{
    color:#e5097f;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.linkCompra{
    color: black;
    text-align: center;
}