.detalleTitulo{
    color:#e5097f;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
}
.detallePrecio {
    color: black;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    font-size: 27px;
}
.palabraDetalle{
    font-family: 'Assistant', sans-serif;
    color: black;
    font-weight: bold;
    padding: 29px;
    margin: 10px;
}
.card{
    margin: 20px;
    border-radius: 6px;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    
}
.card a:hover{
    background-color: black;
    color: black;
}