.card{
    margin: 20px;
    border-radius: 6px;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card a:hover{
    background-color: black;
    color: black;
}
.producto{
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.precio{
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
}
.carrito{
    font-family: 'Assistant', sans-serif;
}
h5{
    color:#e5097f;
    padding: 5px;
    margin: 5px;
}