.cardItem{
    margin: 20px;
    border-radius: 6px;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.cardItem:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    
}
.cardItem a:hover{
    background-color: black;
    color: black;
}
.producto{
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #8c8c8c;
    padding: 5px;
    margin: 5px;
}
.precio{
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
}
.carrito{
    font-family: 'Assistant', sans-serif;
}
