
.card{
    margin: 20px;
    border-radius: 6px;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card a:hover{
    background-color: black;
    color: black;
}

.producto{
    font-family: 'Rock Salt', cursive;
}
.precio{
    font-family: 'Rock Salt', cursive;
}
.carrito{
    font-family: 'Rock Salt', cursive;
}
h5{
    color:#e5097f;
    padding: 5px;
    margin: 5px;
}