.fondo{
    background-color: #272727;
}
.vinos{
  color: #f252a7;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
}

.titulo{
    color:#e5097f;
    text-align: center;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
    font-size: 70px;
}
.nav-item{
    font-weight: bold;
    color: #dcdcdc;
    font-family: 'Rock Salt', cursive;
  }
.nav-link{
    color: #dcdcdc;
    font-family: 'Rock Salt', cursive;
  }
.nav-link:hover{
 
    color: red;

}