.titulo{
    color: #89004f;
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
}
.nav-item{
    color: #89004f;
    font-family: 'Rock Salt', cursive;
  }
.nav-link{
    color: #89004f;
    font-family: 'Rock Salt', cursive;
  }
.nav-link:hover{
    color: black;
}