.footer{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-family: 'Assistant', sans-serif;
    padding: 3px;
    border: none ;
    margin: 3px;
}
i{
    color: white;
}
i:hover{
    color: #f252a7;
}
.spam{
    color: #3c3c3c;
}

