.footer{
    background-color: black;
    height: 200px;
}
.divFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.palabraFooter{
    font-family: 'Assistant', sans-serif;  
    text-decoration: none;
    list-style: none;
    color: white;
}
.spam{
    color: #3c3c3c;
}
.palabraFooter:hover{
    color: #9a0526;
}

