.footer{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-family: 'Assistant', sans-serif;
    padding: 3px;
    border: none ;
    margin: 3px;
}
.bi{
    color: white;
}
.bi:hover{
    color: #9a0526;
}
.spam{
    color: #3c3c3c;
}

